<h1>Hiya <%= @user.username %>!</h1><br>

<% @user.photos.each do |photo| %>
  <%= image_tag photo.photo.url(:avatar) %><br>
  <%= link_to 'Edit Avatar', edit_user_photo_path(@user, photo) %><br>
  <%= link_to 'Delete Avatar', user_photo_path(@user, photo), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<% policy(@user).edit_photo? && unless @user.photos.any? %>
  <%= link_to 'New Avatar', new_user_photo_path(@user) %>
<% end %>

<h6>Here are all your orders for review!</h6>

<table>
  <th>Number</th>
  <th>Restaurant</th>
  <th>Time Order was Placed</th>
  <th>Place Order Again?</th>

  <% @orders.each do |order| %>
    <tr>
      <% @restaurant = order.restaurant.id %>
      <td><%= link_to "Order #{order.id}", restaurant_order_path(@restaurant, order) %></td><br>
      <td><%= link_to "#{order.restaurant.name}", restaurant_path(@restaurant) %></td><br>
      <td><%= l order.created_at %></td>
      <td><%= button_to "Hell yes!" %></td>
    </tr>
  <% end %>
</table>
