<%= form_for [@restaurant, @order], remote: true do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :any_special_notes_for_this_order? %><br>
    <%= f.text_field :note %>
  </div>
  <%= f.fields_for :ordered_item do |builder| %>
    <%= render 'ordered_item_fields', f: builder %>
  <% end %>
  <%= link_to_add_fields "Add Item to Order", f, :ordered_items %><br><br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
