<h1>Listing orders</h1>

<table>
  <thead>
    <tr>
      <th>Order Number</th>
      <th>For</th>
      <th>Special Notes</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <% if policy(order).show? %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.user.username %></td>
        <td><%= order.note %></td>
        <td><%= order.created_at.in_time_zone("Pacific Time (US & Canada)") %></td>
      <% if policy(order).show? %>
        <td><%= link_to 'Show', restaurant_order_path(@restaurant, order) %> </td>
      <% end %>
      <% if (order.finalize? == false && policy(order).update?) || policy(order).edit_after_final? %>
        <td> | <%= link_to 'Edit Order Note', edit_restaurant_order_path(@restaurant, order) %> | </td>
      <% end %>
      <% if (order.finalize? == false && policy(order).destroy?) || policy(order).edit_after_final? %>
        <td><%= link_to 'Destroy', restaurant_order_path(@restaurant, order), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back to Restaurant', restaurant_path(@restaurant) %><br>
