<h1>Listing orders</h1>

<table>
  <thead>
    <tr>
      <th>Dish name</th>
      <th>Quantity</th>
      <th>For:</th>
      <th>Notes</th>
      <th>Created at:</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <% if (order.user == current_user) || @restaurant.owner == current_user.id %>
      <tr>
        <td><%= @restaurant.items.find_by_id(order.item_id).dish_name %></td>
        <td><%= order.quantity %></td>
        <td><%= order.user.username %></td>
        <td><%= order.note %></td>
        <td><%= order.created_at.in_time_zone("Pacific Time (US & Canada)") %></td>
        <td><%= link_to 'Show', restaurant_order_path(@restaurant, order) %></td>
        <td><%= link_to 'Edit', edit_restaurant_order_path(@restaurant, order) %></td>
        <td><%= link_to 'Destroy', restaurant_order_path(@restaurant, order), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_restaurant_order_path %>
