<h1>Listing orders</h1>

<table>
  <thead>
    <tr>
      <th>Dish name</th>
      <th>Quantity</th>
      <th>Note</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= @restaurant.items.find_by_id(order.item_id).dish_name %></td>
        <td><%= order.quantity %></td>
        <td><%= order.note %></td>
        <td><%= order.user.username %></td>
        <td><%= link_to 'Show', restaurant_order_path(@restaurant, order) %></td>
        <td><%= link_to 'Edit', edit_restaurant_order_path(@restaurant, order) %></td>
        <td><%= link_to 'Destroy', restaurant_order_path(@restaurant, order), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_restaurant_order_path %>
