<div class="contentsection beige">
  <div class="content">
    <h1><%= "#{@restaurant.name}"%></h1>
    <h2>Some catchy tag line</h2>
    <div id="menu">
      <div class="menusection">
        <% @items_by_category.each do |subcat, item| %>
          <h2><%= subcat %></h2>
          <div class="cols clearfix">

          <% for dish in item %>
            <% column_count = 0 %>
            <% if column_count % 2 == 0 %>
              <div class="col1">
            <% else %>
              <div class="col2">
            <% end %>

                <div class="menuitem", id="<%= dish.id %>">
                  <h3><%= dish.dish_name %>
                    <% if current_user && policy(dish).update? %>
                      <%= link_to 'Details', restaurant_item_path(@restaurant, dish) %>
                    <% end %>
                  </h3>
                  <p><%= dish.description %></p>
                  <% if dish.cents < 10 %>
                  <p class="price"><%= "$#{dish.dollars}.0#{dish.cents}" %></p>
                  <% else %>
                  <p class="price"><%= "$#{dish.dollars}.#{dish.cents}" %></p>
                  <% end %>
                  <p class="calories"><%= dish.inventory %></p>
                </div>
              </div>

            <% column_count = column_count + 1 %>
          <% end %>

          </div>
        <% end %>
      </div>
    </div>


    <br>
    <% if current_user && policy(@restaurant).item_create? %>
      <%= link_to 'New Item', new_restaurant_item_path(@restaurant) %><br><br>
    <% end %>

    <h3>Ready to place an order?</h3>

    <%= render 'form' %>

    <div id="customer_order">
      <table>
          <thead>
            <tr>
              <th>Order Number</th>
              <th>For</th>
              <th>Special Notes</th>
              <th>Finalized?</th>
              <th>Time Ordered</th>
            </tr>
          </thead>
          <tbody>
            <tr id="order_data">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
      </table>
    </div>
    <br>

    <div id="building_order">

    </div>
      <div id="finalize_prompt">
        <h4><strong>Don't forget to finalize your order!</strong></h4>
        <p>Click on your order in the Order Number column to review before finalizing.</p>
      </div>

    <%= link_to 'Cancel', restaurant_path(@restaurant) %>
    </div>
  </div>
</div>
