<p id="notice"><%= notice %></p>

<p>
  <strong>Dish name:</strong>
  <%= @order.dish_name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order.quantity %>
</p>

<p>
  <strong>Note:</strong>
  <%= @order.note %>
</p>

<table>
  <thead>
    <tr>
      <th>Dish name</th>
      <th>Price</th>

    </tr>
  </thead>

<!-- DYLAN - here we need to use the user.order.items_ordered.items -->
  <tbody>
    <% @order.restaurant.items.each do |item| %>
      <tr>
        <td><%= item.dish_name %></td>
        <td><%= "#{item.dollars}.#{item.cents}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
