<p id="notice"><%= notice %></p>

<p>
  <strong>Dish name:</strong>
  <%= @restaurant.items.find_by_id(@order.item_id).dish_name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order.quantity %>
</p>

<p>
  <strong>Note:</strong>
  <%= @order.note %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @order.created_at.in_time_zone("Pacific Time (US & Canada)") %>
</p>

<%= link_to 'Edit', edit_restaurant_order_path(@restaurant, @order) %> |
<%= link_to 'Back', restaurant_orders_path %>
