<div class="menuitem", id="<%= item.id %>">
  <h3><%= item.dish_name %></h3>
  <p><%= item.description %></p>
  <p class="price"><%= "$#{item.dollars}.#{item.cents}" %></p>
  <p class="calories"><%= item.inventory %></p>
  <% if current_user && policy(item).update? %>
    <%= link_to 'Edit', edit_restaurant_item_path(@restaurant, item), id: "edit_link_#{item.id}", remote: true %>
  <% end %>
  <% if current_user && policy(item).destroy? %>
    <%= link_to 'Destroy', restaurant_item_path(@restaurant, item), id: "delete_link_#{item.id}", method: :delete, data: { confirm: 'Are you sure?', remote: true } %>
  <% end %>
</div>
