<<div class="content">
<p id="notice"><%= notice %></p>

<p>
  <strong>Dish name:</strong>
  <%= @item.dish_name %>
</p>

<p>
  <strong>Price:</strong>
  <%= "#{@item.dollars}.#{@item.cents}" %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Subcategory:</strong>
  <%= @item.subcategory %>
</p>

<p>
  <strong>Inventory:</strong>
  <%= @item.inventory %>
</p>

<% if current_user && policy(@item).update? %>
  <%= link_to 'Edit', edit_restaurant_item_path(@restaurant, @item) %> |
<% end %>
<%= link_to 'Back', new_restaurant_order_path(@restaurant) %>
</div>
