<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="span2">
        <div id="logo">
<!--          <a href="index.html" title="Grubly"><img src="/grubly_logo.png"></a>-->
        </div>
      </div>
    </div>

    <div class="span10">
      <!-- Mobile Menu -->
      <a id="mobile-nav" class="menu-nav" href="#menu-nav"><span class="menu-icon"></span></a>

      <!-- Standard Menu -->
      <nav id="menu">
        <ul id="menu-nav" class="sf-js-enabled sf-arrows">
          <li><a href="index.html">Home</a></li>
          <li class=""><a href="elements.html" class="sf-with-ul">Features</a>
            <ul class="sub-menu arrow-up" style="float: none; width: 12em; display: none;">
              <li style="white-space: normal; float: none; width: 100%;"><a href="full-width.html" style="float: none; width: auto;">Full Width</a></li>
              <li style="white-space: normal; float: none; width: 100%;"><a href="about.html" style="float: none; width: auto;">About Us</a></li>
              <li style="white-space: normal; float: none; width: 100%;"><a href="team.html" style="float: none; width: auto;">Our Team</a></li>
              <li style="white-space: normal; float: none; width: 100%;"><a href="elements.html" style="float: none; width: auto;">Elements</a></li>
              <li style="white-space: normal; float: none; width: 100%;"><a href="typography.html" style="float: none; width: auto;">Typography</a></li>
              <li style="white-space: normal; float: none; width: 100%;"><a href="retina-icons.html" style="float: none; width: auto;">Retina Icons</a></li>
              <li style="white-space: normal; float: none; width: 100%;"><a href="footer-widgets.html" style="float: none; width: auto;">Footer Widgets</a></li>
            </ul>
          </li>
          <li class=""><a href="portfolio.html" class="sf-with-ul">Portfolio</a>
            <ul class="sub-menu" style="float: none; width: 12em; display: none;">
              <li style="white-space: normal; float: none; width: 100%;"><a href="portfolio-2-clm.html" style="float: none; width: auto;">2 Columns</a></li>
              <li style="white-space: normal; float: none; width: 100%;"><a href="portfolio-3-clm.html" style="float: none; width: auto;">3 Columns</a></li>
              <li style="white-space: normal; float: none; width: 100%;"><a href="portfolio.html" style="float: none; width: auto;">4 Columns</a></li>
              <li style="white-space: normal; float: none; width: 100%;"><a href="single-project.html" style="float: none; width: auto;">Single Project</a></li>
            </ul>
          </li>
          <li><a href="blog.html" class="sf-with-ul">Blog</a>
            <ul class="sub-menu" style="float: none; width: 12em; display: none;">
              <li style="white-space: normal; float: none; width: 100%;"><a href="blog-single.html" style="float: none; width: auto;">Single Post</a></li>
            </ul>
          </li>
          <li><a href="contact.html">User</a>
            <ul class="sub-menu" style="float: none; width: 12em; display: none;">
              <% if current_user %>
                <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %><br>
              <% else %>
                <%= link_to 'Sign In', new_user_session_path %><br>
                <%= link_to 'Sign Up', new_user_registration_path %><br>
                <%= link_to "Login with Twitter", user_omniauth_authorize_path(:twitter) %><br>
              <% end %>
            </ul>
          </li>
        </nav>
      </div>
    </div>
  </div>
</header>


<br>
<br>
<%= link_to "Restaurants", restaurants_path %><br>
