<div id="nav">
  <div id="navitems">
    <div id="logo">
      <%= link_to image_tag('../grubly_logo_40.png'), root_path %>
    </div>
    <ul>
      <% if policy(User).index? %>
        <li><%= link_to 'Admin Page', users_path %>
      <% end %>
      <li><%= link_to "Restaurants", restaurants_path %></li>
      <% if current_user %>
        <li><%= link_to "#{current_user.username}", user_path(current_user) %></li>
        <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to_modal "Login", new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</div>
