<!DOCTYPE html>
<html>

  <%= render 'layouts/head' %>

  <body class="sunfire">
    <%= render 'layouts/nav' %>

    <div id="allconent">

      <div>

        <%= yield %>

      </div>

      <br>

      <%= render 'layouts/footer' %>
      <%= javascript_include_tag "application" %>

    </div>
  </body>
</html>
