<!DOCTYPE html>
<html>

  <%= render 'layouts/head' %>

  <body>

    <%= render 'layouts/nav' %>

    <div>

      <%= yield %>

    </div>

    <br>

    <%= render 'layouts/footer' %>
    <%= javascript_include_tag "application" %>

  </body>
</html>
