<!DOCTYPE html>
<html>

  <%= render 'layouts/head' %>

  <body>

    <%= render 'layouts/nav' %>

    <% if policy(User).index? %>
      <%= link_to 'User Management Page', users_path %>
    <% end %>

    <div class="row">
      <div class="large-12 columns">

        <%= yield %>

      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">

      <!-- Mobile Header -->

      <div class="row">
        <div class="small-12 show-for-small"><br>
          <img src="http://placehold.it/1000x600&text=For Small Screens" />
        </div>
      </div>


    <!-- End Mobile Header -->

      </div>
    </div><br>

    <%= render 'layouts/footer' %>

    <%= javascript_include_tag "application" %>

  </body>
</html>
