<!DOCTYPE html>
<html>

  <%= render 'layouts/head' %>

  <body>

    <%= render 'layouts/nav' %>

    <div class="row">
      <div class="large-12 columns">

        <%= yield %>

      </div>
    </div>

    <br>

    <%= render 'layouts/footer' %>
    <%= javascript_include_tag "application" %>

  </body>
</html>
