<!DOCTYPE html>
<html>

  <%= render 'layouts/head' %>

  <body class="sunfire">
    <%= render 'layouts/nav' %>

    <div id="allconent">

      <div>

        <%= yield %>

      </div>

      <br>

      <%= render 'layouts/footer' %>
      <%= javascript_include_tag "application" %>

      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-7888834-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
      <script type="text/javascript">
        $(document).ready(function(){
          $.get('ajax.html', function(data){
            modal.open({content: data});
          });

          $('a#login').click(function(e){
            modal.open({content: "Hows it going?"});
            e.preventDefault();
          });
        });
      </script>
    </div>
  </body>
</html>
