<!DOCTYPE html>
<html>

  <%= render 'layouts/head' %>

  <body>

    <%= render 'layouts/nav' %>

    <% if policy(User).index? %>
      <%= link_to 'User Management Page', users_path %>
    <% end %>

    <div class="row">
      <div class="large-12 columns">

        <%= yield %>

      </div>
    </div>

    <br>

    <%= render 'layouts/footer' %>

  </body>
</html>
